img.infinite_rotating{
    animation: rotate_image 100s linear infinite;
    transform-origin: 50% 50%;
}
img.sun_clip{
    clip: rect(540,754,720,0)
}
body
{
    background-image:url('../images/universe.jpg');
    background-color:rgb(4, 20, 46);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul{
    margin:0;
    padding:0;
    display:flex;
}
ul li {
	list-style: none;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 10px;
	filter: blur(1px);
    word-wrap: break-word;
}
ul:hover li {
	animation: animate 2s linear infinite;
}
h3
{
    color:antiquewhite;
}
@keyframes animate {
	0% {
		transform: rotate(0deg) translateY(0);
		opacity: 1;
		filter: blur(1px);
	}
	
	100% {
		transform: rotate(45deg) translateY(-250px);
		opacity: 0;
		filter: blur(20px);
	}
	
}
ul li:nth-child(1) { animation-delay: 0s; }
ul li:nth-child(2) { animation-delay: .2s; }
ul li:nth-child(3) { animation-delay: .4s; }
ul li:nth-child(4) { animation-delay: .6s; }
ul li:nth-child(5) { animation-delay: .8s; }
ul li:nth-child(6) { animation-delay: 1s; }
ul li:nth-child(7) { animation-delay: 1.2s; }
ul li:nth-child(8) { animation-delay: 1.4s; }
ul li:nth-child(9) { animation-delay: 1.6s; }
ul li:nth-child(10) { animation-delay: 1.8s; }
ul li:nth-child(11) { animation-delay: 2s; }
ul li:nth-child(12) { animation-delay: 2.2s; }
ul li:nth-child(13) { animation-delay: 2.4s; }
ul li:nth-child(14) { animation-delay: 2.6s; }
ul li:nth-child(15) { animation-delay: 2.8s; }
ul li:nth-child(16) { animation-delay: 3.0s; }
ul li:nth-child(17) { animation-delay: 3.2s; }
ul li:nth-child(18) { animation-delay: 3.4s; }
ul li:nth-child(19) { animation-delay: 3.6s; }
ul li:nth-child(20) { animation-delay: 3.8s; }

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}
